

.video-banner {
    width: 100%;
    height: 500px;
    /* background-color: rgb(214, 233, 250); */
    background-color: #fff;
}

.static {
    display: flex;
    gap: 45%;
    padding: 50px;
    align-items: center;
}

.numerosUsers {
    display: flex;
    gap: 20%;
    text-align: center;
}

.tituloSaludPath {
    text-align: center;
}

.s {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 64, 102);
}

.usuarios {
    color: rgba(34, 94, 223, 0.938);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.cuerpo {
    background-color: rgb(214, 233, 250);
    padding-top: 50px;
}


h1 {
    font-family: 'Gill Sans MT';
    font-size: 72px;
    margin: 0;
    padding: 0;
}

.deepshadow {
    position: relative;
    top: -10px;
    color: rgb(52, 113, 167);
    letter-spacing: .4em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
        0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626,
        0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
        0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
        0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  footer form input {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
  }
  
  footer form button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer form button:hover {
    background-color: #777;
  }

.btn-1{
    color: floralwhite;
    width: 80%;
    height: 800px;
    background-color: rgb(214, 233, 250);
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 50px;
}

.btn-1 a{
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}



.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: rgba(4, 40, 119, 0.2);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before{
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: rgba(4, 40, 119, 0.2);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

img{
    position: relative;
    width: 100%;
    height: 350px;
}

.overlay-text {
    position: absolute; /* Posición relativa al contenedor */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajusta el centrado */
    color: white; /* Texto blanco */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 10px 20px; /* Espaciado interno para el texto */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente */
    text-align: center; /* Centrado del texto */
  }
