.user{
  position: relative;
  top: -12px !important;
}
.user-menu{
  position: relative;
  left: -60px;
  font-size: 20px;
}

.background {
  /* Imagen de fondo */
  background-image: url("../img/soporte.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Difuminar el fondo */
  filter: blur(10px);
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /*para que quede atras */
}