<div class="global">
    <div class="parteIz">
        <div class="mover">
            <div class="deepshadow" #titulo>
                <h1>saludPATH</h1>
              </div>
            <p>¿Qué deseas hacer?</p>
            <a routerLink="/servicios/historial"> <p class="aniP"> Consultar tu historial medico <i class="pi pi-book" style="font-size: 1rem"></i></p></a>
            <a routerLink="/servicios/autorizaciones"> <p class="aniP">Consultar tus autorizaciones <i class="pi pi-book" style="font-size: 1rem"></i></p></a>
            <a routerLink="/servicios/citas"> <p class="aniP">Consultar tus citas medicas <i class="pi pi-book" style="font-size: 1rem"></i></p></a>
           
           
            
        </div>
</div>
<div class="parteDe">
    <router-outlet></router-outlet>
</div>

</div>