<!DOCTYPE html>
<!--
Inicio del Proyecto
Iniciar Sesión solicitando el nombre del usuario y su clave
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="css/login.css" rel="stylesheet" type="text/css"/>
        <title>login</title>
    </head>
    <body>
        <p id="resultado" class="mensaje"></p>
        <div class="container">
            <div>
                <div class="col s12 m6">
                    <div class="card z-depth-5 carta">  
                       
                            <div class="card-content center">
                                <img src="img/saludPath.jpeg" alt="" width="250px"/>
                                <span class="card-title"><b>INICIAR SESION</b></span>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input type="text" name="cedul" id="cedula"  class="validate">
                                        <label for="icon_user" >Cedula</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">lock</i>
                                        <input type="password" name="contrasen" id="contrasena" class="validate">
                                        <label for="icon_pass">Contraseña</label>
                                    </div>
                                </div>                                
                            </div>
                            <div class="card-action center">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <button type="button" class="waves-effect waves-light btn-large login-btn" onclick="validarLogin()">
                                            Ingresar<i class="material-icons right">login</i></button>
                                        <!--<button class="btn btn-large" type="submit" name="btnAcceder" value="Login" onclick="validarLogin()">Ingresar <i class="material-icons right">directions_run</i></button>-->
                                    </div>
                                    <div class="col s12 m6">
                                        <a class="card-title activator waves-effect waves-light btn-large register-btn" onclick="registro()">
                                            REGISTRATE<i class="material-icons right">directions_run</i></a>
                                    </div> 
                                </div>                                                                    
                            </div>
                        
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"> CREAR NUEVA CUENTA
                                <i class="material-icons right">close</i></span>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input type="text" name="cedul" id="cedulaNueva"  class="validate">
                                        <label for="icon_user" >Cedula</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">lock</i>
                                        <input type="password" name="contrasen" id="contrasenaNueva" class="validate">
                                        <label for="icon_pass">Nueva Contraseña</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">lock</i>
                                        <input type="password" name="contrasen" id="contrasenaNueva2" class="validate">
                                        <label for="icon_pass">Repetir Contraseña</label>
                                    </div>
                                </div>
                                <button type="button" class="waves-effect waves-light btn-large login-btn" onclick="registerLogin()">CREAR CUENTA</button>
                                <p class="mensaje2" id="resultado2"></p>
                        </div>
                    </div>   
                </div>                
            </div>                    
        </div>
        <div class="background"></div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>