<div class="container mt-4 shadow-1g p-3 mb-5 bg-body rounded">
  <button
    id="crearAfiliado"
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#modalafi"
  >
    Crear un provedor
  </button>

  <table id="tablaAfiliados" class="table mt-2 table-bordered table-striped">
    <thead>
      <tr class="text-center">
        <th>Id</th>
        <th>Nombre del provedor</th>
        <th>Productos o servicios</th>
        <th>Contacto</th>
        <th>Condicion de pago</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div
    class="modal fade"
    id="modalafi"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary" style="color: #fff">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Nuevo Provedor
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="Nombre-name" class="col-form-label"
                >Nombre del provedor:</label
              >
              <input type="text" class="form-control" id="nombre-name" />
            </div>
            <div class="mb-3">
              <label for="TipoDoc-name" class="col-form-label"
                >Productos o servicios</label
              >
              <input type="text" class="form-control" id="tipoDoc-name" />
            </div>
            <div class="mb-3">
              <label for="Documento-name" class="col-form-label"
                >Contacto</label
              >
              <input type="text" class="form-control" id="documento-name" />
            </div>

            <div class="mb-3">
              <label for="direccion-name" class="col-form-label"
                >Condicion de pago</label
              >
              <input type="text" class="form-control" id="direccion-name" />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
